.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 100;
}

.modal_opened {
  display: flex;
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.modal__close {
  background: url(../../assets/close-preview.png);
  opacity: 0.6;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  cursor: pointer;
}

.modal__close:hover {
  transition: background 0.2s;
  opacity: 1;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  z-index: 101;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.modal__label {
  margin-bottom: 8px;
}

.modal__label_type_radio {
  display: flex;
  accent-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.modal__input {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding: 0;

  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__input::placeholder {
  margin-bottom: 8px;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input {
  cursor: pointer;
}

.modal__radio-input:checked {
  opacity: 1;
  accent-color: black;
}

.modal__radio-input:not(:checked) {
  opacity: 50%;
}

.modal__radio-input:not(:checked) ~ .modal__label_type_radio {
  opacity: 50%;
}

.modal__submit {
  margin-top: 8px;
  width: fit-content;
  justify-content: center;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 1);
  gap: 0;
  max-width: 128px;
  line-height: 20px;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__sign-style-swap {
  border: none;
  background: none;
  padding: 0;
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__sign-style-swap:hover {
  color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 887px) {
  .modal {
    justify-content: center;
    align-items: flex-end;
  }

  .modal__content {
    border-radius: 12px 12px 0 0;
    align-self: flex-end;
  }

  .modal__close {
    background: url(../../assets/close-preview_mobile.png);
    width: 20px;
    height: 20px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 37px;
  }

  .modal__submit {
    margin-top: 30px;
    padding: 12px 126px 12px 125px;
    max-width: 100%;
    white-space: nowrap;
  }
}
