.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 323px;
  height: 326px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

.card__top {
  position: absolute;
  display: flex;
  margin: 15px 0 0;
  gap: 10px;
}

.card__name {
  background-color: white;
  max-height: 24px;
  padding: 2px 12px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.card__like-btn {
  width: 20px;
  height: 17px;
  background-image: url("../../assets/like_deselected.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  margin: 5px 0 0;
  border: none;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url("../../assets/like_selected.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.card__like-btn_liked:hover {
  opacity: 0.6;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 887px) {
  .card {
    width: 162px;
    height: 162px;
  }

  .card__top {
    margin: 7px 0 0;
  }

  .card__image {
    max-width: 164px;
    max-height: 164px;
  }
}
