.weather-card {
  position: relative;
  display: Flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  margin: 20px auto 20px 16px;
  color: white;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}

@media screen and (min-width: 375px) and (max-width: 825px) {
}
