.page {
  background-color: rgba(243, 243, 243, 1);
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
}

.page__content {
  margin: 0 auto;
  padding: 0 40px;
  display: block;
}

@media screen and (max-width: 887px) {
  .page__content {
    padding: 0 16px;
  }
}
