.cards__text {
  margin: 40px 0 34px;
  font-size: 20px;
  line-height: 24.8px;
}

.cards__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .cards__text {
    margin: 32px 0 20px;
    line-height: 24px;
  }

  .cards__list {
    margin: 0;
  }
}
