.modal__content.modal__content_type_image {
  padding: 0;
  border: none;
  border-radius: 16px;
  width: 498px;
}

.modal__close-preview {
  background: url(../../assets/close-preview.png);
  width: 16px;
  height: 16px;
}

.modal__close-preview:hover {
  background: url(../../assets/close_hover.png);
  background-repeat: no-repeat;
  transition: all 0.2s;
}

.modal__image {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px;
}

.modal__footer {
  margin: 20px auto 32px 32px;
  background-color: white;
  display: flex;
}

.modal__caption {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal__weather {
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0 0 0;
}

.modal__delete-btn {
  margin: 0 32px 0 auto;
  background: transparent;
  border: none;
  color: rgba(255, 77, 0, 1);
  padding: 0;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete-btn:hover {
  opacity: 50%;
}

@media screen and (min-width: 375px) and (max-width: 775px) {
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal__content.modal__content_type_image {
    width: 343px;
    border-radius: 12px;
  }

  .modal__image {
    border-radius: 12px 12px 0 0;
  }

  .modal__close-preview {
    background: url(../../assets/close-preview_hover.png);
    width: 20px;
    height: 20px;
    opacity: 100%;
    top: 12px;
    right: 13px;
    padding: 0;
  }

  .modal__close-preview:hover {
    background: url(../../assets/close-preview_hover.png);
    width: 20px;
    height: 20px;
    opacity: 50%;
  }

  .modal__footer {
    margin: 20px auto 40px 20px;
  }
}
