.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 85px 0 24px 0;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 500;
  height: 20px;
}

.developer__name {
  margin: 0;
}

.developer__date {
  margin: 0;
}

@media screen and (max-width: 775px) {
  .footer {
    padding: 20px 0 20px;
  }
}
