.clothes-section {
  font-size: 20px;
}

.clothes-section__header {
  display: flex;
  margin: 16px 0 0;
}

.clothes-section__button {
  border: none;
  background: transparent;
  opacity: 60%;
  line-height: 1;
  padding: 0 0 10px;
  margin: 0 0 0 20px;
}

.clothes-section__button:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.clothes-section__edit-button {
  border: none;
  padding: 0;
  margin-left: 20px;
}

.clothes-section__edit-button:hover {
  opacity: 50%;
}

.clothes-section__title {
  margin: 0;
}

.clothes-section__items {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

@media screen and (max-width: 887px) {
  .clothes-section__header {
    justify-content: space-between;
    gap: 0px;
  }

  .clothes-section__button {
    margin: 0 0 0 auto;
  }

  .clothes-section__items {
    gap: 15px;
  }
}
